label {
    display: block;
    width: 30em;
    height: 2em;
}

label input {
    float: right;
    width: 30em;
}

label textarea {
    float: right;
    width: 30em;
}

fieldset {
    margin-left: 3em;
    padding: 4em;
    width: 35em;
    border: thin none;
    background-color: Azure;
}

fieldset input[type=submit] {
    margin-top: 2em;
    clear: both;
    float: right;
}
